* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    color: black;
}

h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: black;
    line-height: 1.6;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.brand-name {
    font-weight: 600;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #ee2929;
    text-underline-offset: 3px;
}

.contact-label {
    font-weight: bold;
    color: #ee2929;
    margin-right: 5px;
}