@use '../utils/utils' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  color: $text-color;
  background: $background-color;
}

img {
  max-width: 100%;
  display: block;
}

section {
  width: min(1200px, 90%);
  margin: auto;
}